#Salvar{
    color: azure;
    background-color: blue;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
}

#Cancelar{
    color: azure;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
}

#Excluir{
    color: #000;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.corpo{
    text-align: center;
    margin: auto;
    width: auto;
    border: 3px solid #73AD21;
    padding: auto;
}

#Voltar{
    color: rgb(240, 255, 255);
    background-color: blue;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
}